@media (min-width: 1920px) and (max-width: 2560px)  {
    .applicants-role{
        width: 100%;
    }
   .casting-call-section .posted-call-title {
        margin-top: -2px;
        width: 400px;
    }
    .float{
        right: 41%;
    }
    .casting-call-detail {
        width: 70%;
    }
    .casting-call-detail-sidebar {
     width: 770px;
    }
    .sidebar-myposted {
        width: 400px;
        margin: auto;
        margin-top: 20px;
    }
    .side-bar{
        right: unset;
        margin-left: 94px;
    }
    .standalone.post-modal-header{
        right: 40%;
    }
    .popper-title {
        width: 28%;       
    }
    .marketplace-side {
        right: 23%;
        top: 15%;
    }
}
@media only screen and (max-width : 1440px) {
   .casting-call-section .posted-call-title {
        margin-top: -2px;
        width: 400px;
    }
    .float{
        right: 31%;
    }
    .casting-call-detail-sidebar {
        width: 535px;
    }
    .side-bar {        
        top: 74px;
       /* right: 100px;  */     
    }
    .like-tages {
        margin-right: 15px;
    }

}
@media only screen and (max-width : 1024px) {
    .home-top-option{
        width: 100%;
    }
    .article-card-img-bar img {
        width: 300px;
    }
    .promote-side .article-card-img-bar img {
        width: 260px;
        margin-left: 46px;
    }
    .side-bar {
        width: 250px;
    }
    .float{
        right: 30%;
    }
    ul.floting-menu {
        right: 30%;
    }
    .explore .owl-carousel.owl-theme.explore1.owl-loaded.owl-drag {
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }
    .explore .owl-carousel.owl-theme.explore2.owl-loaded.owl-drag{
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }
    .article-card.single_images_inner .article-card-img-bar img{
        width: 300px;
    }
    .explore .frinds {
        font-size: 6px;
        font-weight: bold;
    }
    .standalone-post {
        width: 90%;
        margin: auto;
        margin-right: 10px;
        margin-top: 30px;
    }
    .featured-talents-week {            
        width: 500px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: auto;
    }
    .featured-talents-week ul {
        padding-left: 0;
        margin-bottom: 0;
        width: 500px;
        overflow: hidden;
        display: flex;
    }
    .featured-talents-list {
        width: 80%;
        margin: auto;
    }
    .call-casting-list .posted-call-title {
        width: 315px;      
        margin-top: -2px;
    }
    .casting-call-sidebar{
        width: auto;
        right: unset;
    }
    .find-talents{
        height: auto;
    }
    .my-post ul {
        padding-left: 0;
        display: flex;
    }
    .my-post ul li{
        height: 152px;
    }
   .applicants-status {
        width: 350px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .applicants-wrep {
        width: 500px;       
        padding-left: 60px;
    }
    .applicants-btn button.btn.casting-red-btn{
        width: 150px;
    }
    .action-title h2{
        margin-left: 30px;
    }
    .applicants-status-title p{
        font-size: 18px;
    }
    .user-name-applicants p{
        font-size: 20px;
    }
    .casting-call-section .posted-call-title {
        width: 315px;
        margin-top: -2px;
    }
    .float{
        right: 32%;
    }
    .casting-call-detail-sidebar {
        width: 400px;
    }
    .casting-call-title{
        align-items: center;
    }
    .casting-call-title h2{
        font-size: 30px;
    }
    .casting-call-detail{
        padding-left: 100px;
    }
    .casting-call-detail-form {
        width: 62%;
    }
    .gender-side.casting-call-gender label.gender-label{
        margin-right: 20px;
    }
    .my-submintion-img img {
        width: auto;
    }
    .posted-call {
        margin-left: 50px;
    }
    .my-submintion-img p{
        margin-left: 40px;
    }
    .side-bar.post-casting-call {
        width: 250px;
    }
    .standalone-post-casting-call {       
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    .side-bar {
        top: 50px;
        right: 40px;
    }
    .marketplace-side {
       /* width: 250px;*/
        right: -70px;
    }
    .marketplace-side .casting-call-sidebar {
        width: 250px;
        /* position: fixed; */
        z-index: 1;
        top: 78px;
        right: 100px;
        background: #fff;
        position: absolute;
        overflow: unset;
    }
    .marketplace-section .popular-section {
       /* width: 90%;*/
        display: block;
        margin: auto;
        margin-right: 0;
        margin-top: -5px;
        margin-left: 34px;
    }
    .popular-list .article-card.single_images {
        height: 250px;
        width: 600px;
    }
    .vip-ad-btn {
        margin-top: -32px;
        margin-left: 25px;
    }
    .popular-list .article-card-img-bar img {
        width: 325px;
        height: 320px;  
    }
    button.card-fund-btnt{
        right: 30px;
    }
}
@media only screen and (max-width : 800px) {
    .footer-logo {
        width: 100%;
        margin: auto;
        margin-top: 60px;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        display: flex;
    }
    .top-shadow:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 70px solid #fff;
        border-left: 666px solid transparent;
        display: block;
        position: absolute;
        left: -6px;
        border-bottom-right-radius: 10px;
        margin-top: -1px;
    }
    .bottom-shadow:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 70px solid #fff;
        border-right: 666px solid transparent;
        display: block;
        position: absolute;
        top: -70px;
        border-top-left-radius: 10px;
    }
    .login-menu ul {
        margin-left: unset;
        padding-left: 0;
    }
    .row.login-main {
        flex-flow: wrap-reverse;
    }
   .login-background img {
        width: 800px;
        padding: 0;
        margin: auto;
        margin-top: 30%;
    }
    .mobile-screen img {
        display: none;
    }
    /*.login-footer-logo {
        display: none;
    }*/
    .search-box {
        margin-top: -51px;
    }
    .login-menu {
        position: absolute;
        bottom: -212px;
        text-align: center;
        margin: auto;
        align-items: center;
        left: 127px;
    }
    .search-box {
        margin-top: -20px;
    }
   .app-btn {
        top: 100%;
        width: 100%;
    }
    p.keywords {
        margin-top: -26px;
    }
    .app-store img{
        width: 130px;
    }
    .play-store img{
        width: 130px;
    }
    .play-store {
        margin: auto;
        margin-left: 0;
    }
    .top-logo{
        width: 40%;
    }
    .search-top-shadow:after {
        content: "";        
        border-top: 70px solid #fff;
        border-left: 660px solid transparent;       
    }
    .search-bottom-shadow:after {
        content: "";        
        border-bottom: 70px solid #fff;
        border-right: 660px solid transparent;       
    }
    .side-bar { 
	    display: none;
	}
	.float {
	    right: 5px;
	}
	ul.floting-menu {
	    right: 5px;
	}
	.casting-call-sidebar.web-side-bar {
	    display: none;
	}
	.w3-sidebar.w3-bar-block.w3-collapse.mobile-sidebar-filter{
        display: block;
    }
    button.w3-button.w3-teal.w3-xlarge.w3-right.filter-btn {
        position: absolute;
        margin: auto;
        /*margin-top: 250px;*/
        right: 55px;
        background: red;
        border: 0;
        color: #fff;
        font-size: 22px;
    }
    button.w3-bar-item.w3-button.w3-large.filter-close{
        position: absolute;
        margin: auto;
       /* margin-top: 250px;*/
        right: 55px;
        background: red;
        border: 0;
        color: #fff;
        font-size: 22px;
        z-index: 999;
    }
    .mobile-sidebar-filter .casting-call-sidebar {
	    /* margin-right: 10px; */
	    margin-top: 427px;
	    background: #000;
	    right: 0;
	    width: 300px;
	    top: 110px;
	}
    button.w3-button.w3-teal.w3-xlarge.w3-right.filter-btn {
        display: block;
    }
    .w3-sidebar.w3-bar-block.w3-card.w3-animate-right.mobile-sidebar-filter {
        z-index: 99999;
    }
    .find-talents-sidebar {
	    display: none;
	}
}
@media only screen and (max-width : 768px) {
    .side-bar {
        display: none;
    }
    .promote-side .article-card-img-bar img {
        width: 260px;
        margin-left: 46px;
    }
    .story-all {
        width: 90%;
        margin-left: 0;
        margin: auto;
        margin-right: 0;
        margin-top: 30px;
    }
    .float {
        right: 5%;
    }
    ul.floting-menu {
        right: 5%;
    }
    .first-person-user-name h2 {
        font-size: 20px;        
    }
    .user-profile-name {
        padding-left: 50px;
    }
    p.user-quat{
        margin-left: 50px;
    }
    .fuser-name-sticky a h2 {
        margin-left: -55px;
        font-size: 25px;
    }
    .seaarch-post-list {
        width: 75%;
        margin: auto;
        margin-top: 50px;
    }
    .search-user-rating ul {
        width: 90%;
        margin-left: auto;
    }
    .search-user-rating ul li{
        width: 100%;
    }
    .about-contact-details ul {
        width: 80%;
        margin: auto;
    }
    .about-contact-box h2 {       
        font-size: 12px;
        font-weight: bold;
        padding: 20px;
    }
    .pulsating-circle{
        left: 40%;
    }
    .experience-list ul li {
        width: 67%;        
        margin-left: 120px;
    }
    .first-person-followers .search-people-profile {       
        width: 80%;      
        margin-right: 50px;
       
    }
    .first-person-following .search-people-profile{
        width: 80%;      
        margin-right: 50px;
    }
    button.btn.director-btn {
        width: auto;       
        margin: auto;
    }
    button.btn.producer-btn{
        width: auto;
    }
    button.btn.videographer-btn{
        width: auto;
    }
    .about-category{
        padding-left: 100px;
    }
    #experiencemodal .modal-lg {
        max-width: 1000px;
        margin-left: 17px;
    }
    .experience-description p {
        font-size: 16px;
        font-weight: 500;
    }
    .experiencetitle p{
        font-size: 16px;
    }
    .experiencetitle h2{
        font-size: 16px;
    }
    .experience-role-type h2{
        font-size: 16px;
    }
    .experience-producer {
        width: auto;
        padding: 3px 10px;
        font-size: 15px;
    }
    .experience-producer-btn p{
        font-size: 16px;
    }
    .experience-location-date h2 {      
        font-size: 16px;
        font-weight: 400;
    }
    .experience-location-date p {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: normal;
    }
    .explore .owl-carousel.owl-theme.explore2.owl-loaded.owl-drag{
        width: 100%;
        margin-left: 0;
    }
    .explore .owl-carousel.owl-theme.explore1.owl-loaded.owl-drag{
        width: 100%;
        margin-left: 0;
    }
    .article-card.single_images_inner .article-card-img-bar img{
        width: 300px;
    }
    .standalone-post {
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    .standalone.post-modal-header {
        right: 6%;
    }
    .find-talents-sidebar{
        display: none;
    }
    .mobile-sidebar-filter .casting-call-sidebar {
	    margin-right: 10px;
	    margin-top: 427px;
	    background: #000;
	    /* right: 0; */
	    width: 300px;
	    /* top: 110px; */
	}
    .casting-call-sidebar {
        width: 297px;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .call-casting-list .role-casting-title{
        width: 265px;
    }
    .user-name-applicants{
        margin-top: 20px;
        width: auto;
    }
    .applicants-user-profile img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    .review-massage button.btn.review-btn {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .review-massage button.btn.message-btn{
         width: 100%;
        height: auto;
        padding: 0;
    }
    .user-name-applicants p {
        font-size: 16px;
    }
    .user-name-applicants span{
        font-size: 10px;
    }
    .lead-detail ul {
        padding: 0;
        padding-left: 5px;
        padding-top: 10px;
    }
    .review-massage span{
        font-size: 10px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        margin: auto;
    }
    .applicants-role .panel-title>a, .panel-title>a:active {
        font-size: 10px;
        letter-spacing: 1px;
        word-spacing: normal;
    }
    .rolelead{
        text-align: right;
        margin-top: -11px;
    }
    .post-report-list li{
        width: 100%;
        margin-left: 0px;
    }
    .report-thankyou-text{
        width: auto;
    }
    .find-talents-contain{
        padding: 80px;
    }
    .find-talents-contain form.example input[type=text]{
        width: 100%;
    }
    .featured-talents-list {
        width: 83%;
        margin: auto;
        margin-left: 65px;
        /* margin: auto; */
    }
    .featured-talents-week{
        display: none;
    }
   /* .featured-talents-week {
        width: 550px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: auto;
        margin-left: 89px;
    }*/
    .featured-talents-week ul{
        width: 530px;
    }
    .card.talent-card {
        margin-bottom: 20px;
        border-radius: 17px;
        margin-top: 20px;
    }
    .casting-call-section{
        margin-left: 45px;
    }
    .casting-call-detail-sidebar {
        width: 400px;
        display: none;
    }
    .casting-call-detail-form {
        width: 90%;
    }
    .side-bar.post-casting-call {
        display: none;
    }
    .standalone-post-casting-call {
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    .popper-title {
        width: 100%;
    }
    .like-tages {
        margin-left: 0;
    }
    .marketplace-section .popular-section {
        width: 100%;
    }
    .user-setting .tab {
        padding-left: 10px;
        padding-right: 10px;
    }
    .all-setting-left {
        float: left;
        border: 1px solid #ccc;
        width: 40%;
    }
    .setting-details{
        width: 60%;
    }
    .user-setting-back-img:before{
        height: auto;
    }
    .edit-experience .experience-list ul li {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .edit-detail {
        width: 90%;
        margin: auto;
        margin-top: 30px;
    } 
    .notification-setting {
        width: 85%;
        margin: auto;
        margin-top: 30px;
    }  
    .privancy-setting {
        width: 90%;
        margin: auto;
    }
    .sharing-setting {
        width: 90%;
    }
    .faq-main {
        width: 90%;
        margin: auto;
        margin-right: 16px;
    }
    .faq-details p{
        width: 100%;
    }
    .about-section {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    #faqpagination {
        display: none;
    }
    form.call-detail-form select#castingproducttype{
        width: 100%;
    }
    select#castingroletype{
        width: 100%;
    }
    select#lookingtalentfor{
        width: 100%;
        margin-left: 0;
    }
    .casting-call-sidebar.web-side-bar{
        display: none;
    }
    
    .home-top-option {
        width: 88%;
        margin-left: 0;
    }
    .event-happening {
        margin-top: -35px;
        width: 95%;
        margin-left: 15px;
    }
    .accout-wrap {
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
    .wallet-section {
        display: block;
    }
    .wallet-count {
        width: 100%;
        height: 485px;
        border: 2px solid #ececec;
        background-color: #fff;
    }    
    .debit-card img {
        width: 348px;
        height: auto;
        margin-left: 205px;
    }
    button.card-fund-btnt {
        position: absolute;
        bottom: 25px;
        right: 232px;
    }
    .transation-history {
        width: 100%;
        height: auto;
        border: 2px solid #ececec;
        background-color: #ffffff;
    }
    .transation-history-list {
        width: 70%;
    }
    .Transation-price {
        margin-left: 11px;
        width: 335px;
    }
    .action-list {
        margin-left: 0;
    }
    .status-count {
        width: 100%;
        height: auto;
    }
    .status-detail {
        width: 100%;
        height: 800px;
        overflow: auto;
    }
    .card.status-card {
        width: 100%;
        padding: 17px;
    }
    .status-list{
        display: block;
    }
    button.w3-button.w3-teal.w3-xlarge.w3-right.filter-btn.marketplace-filter {
        display: block;
        z-index: 999999;
        margin: auto;
        margin-top: 27px;
        margin-right: 30px;
        position: fixed;
        width: 85px;
        height: 35px;
    }
    .mobile-sidebar-filter.marketplace-filter-sidebar .casting-call-sidebar {
        margin-right: 30px;
        margin-top: -35px;
        background: #000;
        height: 100vh;
        overflow: auto;
    }
    .w3-sidebar.w3-bar-block.w3-card.w3-animate-right.mobile-sidebar-filter.marketplace-filter-sidebar {
        display: block;
        z-index: 9999999;
        margin: auto;
        margin-top: 26px;
        margin-right: 30px;
        position: fixed;
        width: 150px;
    }
    .page{
        background: transparent;
    }
    .popper-title p{
        font-size: 20px;
    }
    .action-list a{
        margin: auto;
    }
    .my-submintion-img img {
        width: 60%;
        margin: auto;
        display: flex;
    }
    .modal.fade.post-event.show {
        z-index: 9999999;
    }
    .account-status-activity ul li{
        width: 100%;
    }
    .account-current-status{
        width: 100%;
        margin-bottom:  10px;
    }
    .account-status-activity ul{
        padding-left: 0;
    }
    /*.account-status-activity{
        padding-top: 10px;
    }*/
    .account-status .modal-content{
        margin-top: 15%;
    }
    .account-status-top-icon {
        position: absolute;
        top: -45px;
        left: 43%;
    }
    .account-status .modal-header.account-status-header {
        position: absolute;
        top: unset;
        right: 0;
        border-bottom: 0;
    }
    .modal-header.account-status-header .close{
        box-shadow: 0px 0px 8px 2px #929292;
    }
    .promote-section {
        display: block;
    }
    .promote-list {
        width: 100%;
    }
    .choose_audience-detail {
        width: 100%;
        margin-left: 35px;
    }
    div#addfundsModal{
        z-index: 99999999;
    }
    .add-funds .modal-header.funds-header .close{
        display: none;
    }
    .login-background img {
        width: 750px;
        padding: 0;
        margin: auto;
        margin-top: 30%;
        overflow: hidden;
    }
    .top-shadow:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 70px solid #fff;
        border-left: 666px solid transparent;
        display: block;
        position: absolute;
        left: -6px;
        border-bottom-right-radius: 10px;
        margin-top: -1px;
    }
    .bottom-shadow:after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 70px solid #fff;
        border-right: 666px solid transparent;
        display: block;
        position: absolute;
        top: -70px;
        border-top-left-radius: 10px;
    }
   .popular-section {
        width: 100%;
        border-left: 0;
        background: #f2f2f2;
        margin-left: 40px;
    }
    .nollywood-sidebar {
        display: none;
    }
    .serch-result-section {
        padding-left: 80px;
        margin-top: 30px;
    }
    .latest-search-post{
        width: 100%;
    }
   .search-tab-list .nav-tabs .nav-link {
        font-size: 14px;
        line-height: normal;
    }
    .terms-services-back {
        display: none;
    }
    .product-post{
        width: 75%;
    }
    .modal-header.upgrade-header .close{
        right:0;
    }
}

@media only screen and (max-width : 425px) {
    .status-section {
        display: block;
    }
    .applicants-wrep {
        width: 100%;
        padding-left: 60px;
        height: auto;
    }
    .applicants-role {
        width: 100%;
        height: auto;
        border: 2px solid #ececec;
        background-color: #ffffff;
        padding: 20px;
        padding-left: 78px;
    }
    .applicants-status {
        width: 335px;
        margin-left: 15px;
        margin-right: 20px;
    }
    .applicants-btn button.btn.casting-red-btn {
        width: 150px;
        margin-bottom: 10px;
    }
    .applicants-title h2 {
        font-size: 25px;        
    }
    .gender-label{
        width: 156px;
    }
    .find-talents-contain h2 {       
        font-size: 25px;
    }
    .find-talents-contain {
        padding: 80px;
        padding-right: 0;
    }
    .find-talents-contain form.example input[type=text] {       
        font-size: 15px;       
    }
    .my-post ul {
        padding-left: 0;
        display: block;
    }
    .my-post ul li {
        height: auto;
        width: 89%;
        margin: auto;
        display: block;
        margin-left: 25px;
        margin-bottom: 10px;
    }
    .posted-call-title h2{
        font-size: 11px;
    }
    .call-casting-list .posted-call-casting {
        width: 85%;
        margin: auto;
    }
    .casting-call-section .posted-call-title {
        width: 170px;
        margin-top: -2px;
    }
    .role-casting-title p{
        font-size: 11px;
    }
    .role-casting-title p {
        font-size: 11px;
        margin-right: 0;
    }
    .posted-call-country a{
        font-size: 12px
    }
    .posted-call-detail {
        margin-bottom: 20px;
    }
    .posted-call-active a{
        font-size: 12px;
    }
    .posted-call-commercial a {        
        padding: 2px 15px;
        color: #fff;
    }
    .casting-call-sidebar{
        width: 297px;
        left: 24px;
    }
    .explore .owl-carousel.owl-theme.explore1.owl-loaded.owl-drag {
        width: 100%;
        /*margin-left: 11px;*/
    }
    .explore .owl-carousel.owl-theme.explore2.owl-loaded.owl-drag {
        width: 100%;
       /* margin-left: 10px;*/
    }
    .explore-title h2 {
        font-size: 28px;
        margin-left: 20px;
    }
    .explore-title p {
        font-size: 17px;
        margin-left: 20px;
    }
    .home-top-option {
        width: 90%;
        margin: auto;
        margin-left: 20px;
        display: block;
        text-align: center;
    }
    .cart-option {
        text-align: center;
        margin: auto;
        margin-right: 10px;
        margin-top: 15px;
    }
   .event-happening .article-card.single_images_inner {
        margin-left: 20px;
        width: 100%;
        margin-top: 20px;
        display: block;
        position: relative;
        height: auto;
        height: 440px;
    }
    /*.event-happening .article-card.single_images_inner {
        margin-top: 20px;
        display: block;
        position: relative;
    }*/
    .article-card-bar {
        width: 100%;
    }
   .article-card.single_images_inner .article-card-img-bar img {
      /*  margin-left: -105px;*/
        width: 100%;
        margin-left: unset;
    }
    .artile-bar-info {
        position: absolute;
        bottom: -260px;
    }
    .article-card-setting-bar.pt-2.pb-2 {
        position: absolute;
        top: 0;
        right: 26px;
    }
    .all-setting-left {
        width: 100%;
    }
   .setting-details {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .setting-title h2 {
        color: #000000;
        font-family: Poppins;
        font-size: 50px;
        font-weight: 900;
        line-height: 80px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }
   span.user-present {
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 12px;
    }
    .privancy-receive-msg{
        display: block;
    }
    select#lookingtalentfor{
        width: 100%;
    }
    select#castingroletype{
        width: 100%;
    }
    form.call-detail-form select#castingproducttype{
        width: 100%;
    }
    button.card-fund-btnt {
        position: absolute;
        right: 82px;
        width: 114px;
        bottom: 10px;
    }
    .debit-card img {
        width: 58%;
        height: auto;
        margin-left: 108px;
    }
    .total-balance p{
        font-size: 30px;
    }
    .total-balance {
        width: 230px;
        height: 110px; 
        margin-right: 75px;
    }
    .Transation i{
        width: 30px;
        height: 30px;
        padding-top: 7px;
        font-size: 15px;
    }
    .transation-history-list {
        width: 75%;
        margin-left: 77px;
    }
    .Transation-price {
        margin-left: 11px;
        width: auto;
    }
    .Transation-price .credit-funding-price{
        font-size: 17px;
    }
    h2.credit-funding-price.debit-promotion-price{
        font-size: 17px;
    }
    .Transation-price .credit-funding{
        font-size: 15px;
    }
    .transation-date_time {
        margin: auto;
        margin-right: 9px;
    }
    .transation-date_time p{
        font-size: 15px;
    }
    .card.status-card {
        width: 80%;
        padding: 17px;
        margin-left: 76px;
    }
    .status-list{
        display: block;
    }
    .insights-title h2{
        font-size: 30px;
    }
    .insights-title img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .popper-title p {
        font-size: 11px;
        margin-left: 3px;
    }
    .article-card.single_images {
        margin-left: 20px;
        width: 90%;
        margin-top: 20px;
        display: block;
        position: relative;
        height: auto;
        height: 470px;
    }
    .article-card.single_images .artile-bar-info {
        position: absolute;
        bottom: -316px;
        margin-left: 25px;
    }
    .article-card-img-bar img {
        margin-top: unset;
        margin-left: -35px;
        width: 327px;
    }
    .article-card.single_contain .article-card-setting-bar.pt-2.pb-2 {
        position: absolute;
        top: 0;
    }
    .article-card.single_contain {
        width: 90%;
        display: block;
        margin: auto;
        margin-left: 20px;
        position: relative;
    }
    .article-card.single_images.promote-side {
        margin-left: 20px;
        width: 90%;
        margin-top: 20px;
        display: block;
        position: relative;
        height: auto;
        height: 500px;
    }
    .article-card.single_images_inner {
        display: block;
        position: relative;
        margin-left: 20px;
        width: 90%;
    }
    .event-happening {
        margin-top: -35px;
        width: 95%;
        margin-left: 0;
    }
    .popular-list{
        width: 100%;
    }
    .popular-list .article-card.single_images {
        margin-left: 20px;
        width: 90%;
        margin-top: 20px;
        display: block;
        position: relative;
        height: auto;
        height: 545px;
    }
    .popular-list .article-card-bar {
        width: 100%;
    }
    .popular-list .article-card-img-bar img {
        width: 325px;
        height: 320px;
        margin-top: 0;
        margin-left: unset;
        width: 100%;
        position: absolute;
        left: unset;
    }
    .rant-price h2{
        margin: auto;
    }
    .popular-list .article-card.single_images .artile-bar-info {
        position: absolute;
        bottom: -348px;
        margin-left: 0;
    }
    .popper-title h2 {
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 0;
    }
    button.w3-button.w3-teal.w3-xlarge.w3-right.filter-btn.marketplace-filter {
        margin-right: -10px;
        font-size: 15px;
        width: auto;
    }
    button.w3-bar-item.w3-button.w3-large.filter-close {
        margin-right: -60px;
        margin-top: 1px;
        font-size: 15px;
        height: 35px;
    }
    .mobile-sidebar-filter.marketplace-filter-sidebar .casting-call-sidebar{
        margin-right: -7px;
    }
    .left-menu{
         z-index: 99999999;
    }
    .like-tages i {
        color: #f0afaf;
        font-size: 25px;
        margin-left: 13px;
    }
    .casting-call button.w3-bar-item.w3-button.w3-large.filter-close {
        margin-right: -1px;
        margin-top: 0px;
        font-size: 15px;
    }
    .casting-call button.w3-button.w3-teal.w3-xlarge.w3-right.filter-btn {
        font-size: 15px;
        height: 35px;
    }
    .posted-call {
        margin-left: 18px;
        margin-top: 0;
    }
    .posted-call p strong{
        font-size: 20px;
    }
    .posted-call p span{
        font-size: 16px;
        margin-left: 5px;
    }
    .my-submintion-img p {
        margin-left: 40px;
        font-size: 12px;
        margin-top: 30px;
    }
    .event_type_list ul{
        width: 100%;
    }
    .event_type_list ul li {
        width: 50%;
        margin: auto;
    }
    .modal.fade.post-event.show {
        z-index: 999999999;
    }
    .form-group.product_type select{
        width: 100%;
    }
    .account-status .modal-content {
        margin-top: 15%;
        width: 80%;
        margin-left: auto;
    }
    .promote-title-main h2 {       
        font-size: 17px;
        font-weight: 600;
        line-height: 50px;        
    }
    .promote-list {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-left: 25px;
        height: auto;
        padding-bottom: 20px;
    }
    .estimated-reach h2{
        font-size: 35px;
    }
   /* .choose_audience-detail {
        width: 100%;
        margin: auto;
        text-align: center;
        margin: auto;
        margin-left: 50px;
    }*/
    .choose_audience-detail {
        width: 100%;
        margin: auto;
        text-align: center;
        margin: auto;
        margin-left: 50px;
    }
    .duraction-slider img{
        width: 80%;
        margin: auto;
        margin-left: 0;
    }
    .budget-slider img {
        width: 80%;
        margin: auto;
        margin-left: 0;
    }
    .promote-section{
        display: block;
    }
    .choose-gender {
        margin-left: 50px;
    }
    .gender-form .form-check{
        width: 89%;
        margin-left: -28px;
    }
    .age-range img {
        width: 76%;
        display: flex;
        margin: auto;   
        margin-left: 30px;
    }
    .year-cal h2 {
        font-size: 30px;
        margin-top: -18px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: -10px;
    }
    .call-casting-detail .modal-content {
        width: 65%;
        margin: auto;
    }
    .standalone-post {
        width: 85%;
        margin: auto;
        margin-top: 30px;
        display: block;
        margin-right: 0;
    }
    .standalone.post-modal-header {
        right: 6%;
        display: none;
    }
    .update_user_profile img {
        width: 30px;
        height: 30px;
    }
    .post-location {
        display: flex;
        align-items: center;
        margin-left: -15px;
    }
    .update_user_profile p{
        font-size: 12px;
    }
    a.like-count span{
        display: none;
    }
    .standalone-post .posted-video-comment {
        padding: 0px;
    }
    .posst_user_profile img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    .posst_user_profile p {
        font-size: 12px;
    }
    .post-comment .comment-dec {
        margin-left: 40px;
    }
    .talents-notes {
        z-index: 99999999;
    }
    .modal-title.find-talents-notes-title{
        width: 70%;
        margin-left: 0px;
    }
    .first-person-profile {
        margin-left: 10px;
        margin-right: 10px;
    }
    .first-person-user-name h2 {
        font-size: 15px;
    }
    .explore_ratting .fa {
        font-size: 12px;
    }
    .user-profile-background img {
        width: 100%;
        height: auto;
    }
    p.user-quat {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-left: 69px;
        margin-bottom: 20px;
    }
    .fuser-name h2{
        font-size: 23px;    
    }
    .first-person-profile-btn .btn.edit-profile-btn{
        font-size: 10px;
    }
    .first-person-profile-btn {
        text-align: center;
        margin-left: 45px;
    }
    .fuser-name-sticky a h2 {
        margin-left: -55px;
        font-size: 15px;
        margin-bottom: 0;
    }
    .fuser-name-sticky a img {
        width: 15px;
        height: 15px;
        margin-left: 7px;
    }
    .row.post-gallery{
        margin-right: 15px;
    }
    .seaarch-post-list {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-right: 15px;
    }
    .article-card-img-bar{
        width: unset;
    }
    .article-card-img-bar img {
        margin-top: unset;
       margin-left: unset;
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
    }
    .about-category .btn {
        font-size: 10px;
    }
    .about-category {
        padding-left: 70px;
    }
    .member-since{
        display: none;
    }
    .about-contact-details ul li {
        width: 100%;
    }
    .about-contact-details ul {
        padding-left: 0;
    }
    .experience-list ul li {
        width: 85%;
        margin: auto;
        margin-right: 0;
        display: block;
        margin-bottom: 20px;
    }
    .first-person-followers .search-people-profile {
        width: 85%;
        margin-right: 0;
    }
    .search-people-profile img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .people-user-name{
        font-size: 14px;
    }
    .people-name-stared{
        padding-left: 40px;
    }
    .People-following {
        display: inline-block;
        position: absolute;
        right: 25px;
    }
    .first-person-following .search-people-profile {
        width: 80%;
        margin-right: 0;
    }
    .people-name-stared span{
        font-size: 12px;
    }
    .modal.fade.full-post-detail {
        z-index: 99999999;
    }
    .top-shadow:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 70px solid #fff;
        border-left: 371px solid transparent;
        display: block;
        position: absolute;
        left: -6px;
        border-bottom-right-radius: 10px;
        margin-top: -1px;
    }
    .bottom-shadow:after {
    content: "";
        width: 0;
        height: 0;
        border-bottom: 70px solid #fff;
        border-right: 371px solid transparent;
        display: block;
        position: absolute;
        top: -70px;
        border-top-left-radius: 10px;
    }
    .login-background {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }
    p.keywords {
        margin-top: -26px;
        line-height: normal;
        margin-top: -9px;
    }
    .login-menu {
        position: absolute;
        bottom: -212px;
        text-align: center;
        margin: auto;
        align-items: center;
        left: 78px;
    }
    .latest-search-post {
        width: 100%;
        padding: 0;
    }
   .nollywood-content-row .latest-search-post .article-card.single_images {
        margin-top: 35px;
        width: 100%;
        margin: auto;
        height: 520px;
        margin-bottom: 20px;
    }
    .nollywood-content-row .latest-search-post .posted-call-title {
        width: auto;
        margin-top: -1px;
    }
    .nollywood-content-row .latest-search-post .posted-call-casting {
        margin: auto;
        margin-top: 40px;
    }
    .nollywood-content-row .role-casting-title{
        width: 200px;
    }
    .nollywood-content-row .article-card.single_contain{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .nollywood-content-row .article-card.single_images_inner {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
        height: 400px;
    }
    .nollywood-content-row  .rant-price {
        margin-top: 25px;
    }
    .search-people-profile {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .input-group.seaarch-box {
        width: 72%;
        margin: auto;
        padding: 0;
        margin-left: 45px;
    }
    p.processing {
        margin-left: -60px;
    }
    .search-bottom-shadow:after {
        content: "";        
        border-bottom: 70px solid #fff;
        border-right: 365px solid transparent;      
        border-top-left-radius: 10px;
    }
    .search-top-shadow:after {
        content: "";
        border-top: 70px solid #fff;
        border-left: 370px solid transparent;
        border-bottom-right-radius: 10px;
        margin-left: -5px;
    }
    .modal.report-post-sent.fade {
        display: block;
        z-index: 999999999;
    }
    .report-post-sent {
        display: block;
    }
    .modal.report-post.fade.show {
        display: block;
        z-index: 99999999;
        padding-top: 50px;
        margin-right: -15px;
    }
    .aboutpagination {
        display: none;
    }
    .terms-title h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: left;
        padding-left: 10px;
    }
    .general-title h2{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: left;
        padding-left: 10px;
        font-size: 28px;
    }
    .terms-details p {
        width: 100%;
        font-size: 16px;
        margin-left: 0;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .about-main {
        width: 93%;
        margin: auto;
        margin-right: 12px;
    }
    .faq-details h2{
        font-size: 19px;
    }
    .standalone-post-casting-call {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-right: 7px;
    }
    button.btn.commercial-btn.casting-red-btn {
        width: auto !important;
    }
    .product-post {
        width: 84%;
        margin: auto;
        margin-right: 0;
    }
    .user-img-call img {
        width: 50px;
        border-radius: 50px;
    }
    .call-user-profile-id p{
        font-size: 17px;
    }
    .call-message {
        padding-left: 0;
    }
    .modal-header.upgrade-header img {
        width: 50%;
        z-index: 1;
        margin: auto;
        margin-top: -10px;
        margin-bottom: -39px;
        margin-left: 120px;
    }
}