.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  margin: 0;
  height: 100% !important;
  background-color: #F2F2F2;
  font-family: poppins;
}

.logoStyling {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 8%;
}

.logoStyling__img {
  height: 35px;
}

.loginBacground {
  background-image: url('./assets/bubbles.svg');
  background-size: cover;
  width: 100%;
  height: 90%;
  margin: 0 !important;
}

.shadows {
  filter: drop-shadow(5px 6px 3px rgba(50, 50, 0, 0.5));
}

.login {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #FFFFFF;
  width: 80%;
}

.login__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(173, 169, 169);
  padding: 5px;
}

.login__title--heading {
  font-family: Poppins;
  font-size: 25px;
}

.login__welcome-back-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.flex{
  display: flex !important;
}

.forms {
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 1.25rem;
}

.login__btn-div {
  display: flex;
  justify-content: flex-end;
}

.login__btn {
  border: none;
  background-color: #FFFFFF;
}

.alignCenter {
  text-align: center;
}

.signUp {
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  background-color: #FFFFFF;
  width: 80%;
  /* padding: 35px; */
  margin-top: -20px;
  box-shadow: 0px 1px 10px 10px #888888 !important;
}

.signUp__heading {
  font-size: 17px;
  font-family: Poppins;
  margin-top: 30px;
  margin-left: 15px;
  
}

.absolute{
  position: absolute !important
}
.post-image{
  height: 230px;
  position: relative;
  margin-top: -12px;
  width: 270px;
}

.card-pics> img{
  height:50px;
  width: 50px;
  margin-right: 10px;
}

.bg-red {
  background-color: #ff0000;
}

.red {
  color: #ff0000;
}

.navy{
  color: #6565A0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.inline-block{
  display: inline-block;
}

.center__item {
  display: flex;
  justify-content: center;
}

.col-dir {
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.playstore__img {
  position: absolute;
  display: flex;
  top: 36%;
  justify-content: center;
  width: 100%;
}

.mt10 {
  margin-top: -10px !important;
}

.top-content-bar{
  background-color: #ffffff;
  box-shadow: 0px 3px 10px 1px #888888 !important;
  border-radius: 5px;
}

.w100p{
  width: 100%;
}
.h100p{
  height: 100% !important;
}
.h40{
  height: 40px;
}
.h230{
  height: 230px;
}
.h380{
  height: 380px;
}
.br-white{
  border-right: 2px solid white;
}
.vl-sub{
  vertical-align: sub;
}

.float-right{
  float: right;
}

.profile-icons{
  display: block;
  margin-top: 30px;
}

.wd-58p{
  width: 58%;
}

.fixedbutton {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 90%;
  align-items: flex-end;
}


.img-div> img{
  height: 100%;
  width: 100%;
}

.oniline-status-title{
  margin: 5px 5px;
}

.p0{
  padding: 0px !important;
}
.pt-6{
  padding-top: 6px;
}

.h90 {
  height: 90% !important;
}

.h10 {
  height: 10% !important;
}

.m0 {
  margin: 0 !important;
}

.mt3{
  margin-top: 3px;
}

.ml10{
  margin-left: 10px;
}

.ml18{
  margin-left: 18px;
}

.ml200{
  margin-left: 200px !important;
}

.mr10{
  margin-right: 10px;
}

.mr20{
  margin-right: 20px;
}

.ml15{
  margin-left: 15px !important;
}

.mt10{
  margin-top: 10px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.mt30{
  margin-top: 30px !important;
}

.mt50{
  margin-top: 50px !important;
}
.mt80{
  margin-top: 80px !important;
}
.mt0{
  margin-top: 0px !important;
}
.mb0{
  margin-bottom: 0px !important;
}

.brad-10{
  border-radius: 10px;
}

.brad-40{
  border-radius: 40px;
}
.border-top{
  border-top: 1px solid gray;
}

.gray{
  color: #707070;
}

.list {
  display: flex;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}

.vertical-list{
  list-style: none;
  margin-block-end: 0px;
}
.vertical-list>li{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  padding-left: 10px;
}

.h100 {
  height: 100% !important;
}

.p-0-8{
  padding: 0px 8px;
}
.p-3-0{
  padding: 3px 0px!important;
}

.list__items:not(:first-child) {
  margin-left: 20px;
  color: black
}

.list__items--link {
  font-family: Poppins;
  color: #5F6772;
}

.search-field {
  width: 60% !important;
}

.search__text {
  font-family: Poppins;
  color: #000000;
  font-size: 22px;
}

@media only screen and (min-width: 900px) {
  .logo {
    display: none;
  }
  .searchDiv {
    display: none;
  }
  .inLine__items {
    display: none;
  }
  .list__items--hidden {
    display: flex;
    flex-direction: column; 
    align-content: center;
  }
  html {
    height: 100%;
  }
  /* body {
    height: inherit;
  } */
}

@media only screen and (max-width: 900px) {
  .w800 {
    display: none;
  }
  .wfull {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .p800 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pd65__800 {
    padding-left: 65px;
    padding-right: 65px;
  }
  .logoStyling {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .logoStyling__img {
    height: 60px;
    margin-bottom: 10px;
  }
  .md-12 {
    max-width: 63.33333% !important;
  }

  .searchDiv {
    width: 100%;
  }

  .search-field {
    width: 100% !important;
    margin-top: 15px !important;
    padding: 10px !important
  }

  .search__text {
    font-family: Poppins;
    color: #000000;
    font-size: 16px;
    text-align: center;
  }
  .list__items--hidden {
    display: none;
  }
  .inLine__items {
    display: flex;
    justify-content: space-between;
  }
}

.signupForm {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #FFFFFF;
  width: 90%;
}

.signup__account--text {
  font-size: 18px;
  text-align: center;
  font-family: Poppins;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.w45 {
  width: 45%;
}


.mt10 {
  margin-top: 9px;
}

.checkBox__clr {
  background-color: #D1D1D1 !important;
}

.clr__white {
  background-color: #FFFFFF;
}

.pointer {
  cursor: pointer;
}

.checkBox__clr--active {
  background-color: #FB0201;
}

.clr__red {
  color: #FB0201;
}

.clr__black {
  color: #000000;
}

.mb0 {
  margin-bottom: 0px;
}

.h30 {
  height: 30px;
  border-radius: 10px;
}

.w60 {
  width: 60% !important;
}

.w90 {
  width: 90%;
}

.m15 {
  margin-top: 15px !important;
}

/* .m-20 {
  margin-top: -20px !important;
}

.m-15 {
  margin-top: -15px;
} */

.font-25 {
  font-size: 25px;
}

.borderLine {
  margin-top: 10px;
  border: 1px solid #D1D1D1;
  display: flex;
  justify-content: center;
  width: 20%;
}

.submit {
  width: 65px;
  height: 40px;
}

.error {
  font-size: 16px !important;
  color: #cf211e;
}

.scrolling {
  overflow-y: scroll;
}

.ml3_7 {
  margin-left: 3.7%;
}

.bold {
  font-weight: bold;
  color: black;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.w50 {
  width: 50%;
}

.t0{
  top: 0;
}

.ml45 {
  margin-left: 45px;
}

.mt100 {
  margin-top: 100px;
}

.clr-w {
  color: #FFFFFF;
}

.fs50 {
  font-size: 50px;
}

.border-radius {
  border-radius: 10px !important;
}

input[type='search'] {
  width: 80%;
  height: 50px;
  padding-right: 126px;
  padding-left: 10px;
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
  border: none;
}

button[name='searchSubmit'] {
  margin-left: -125px;
  padding-right: 35px;
  padding-left: 35px;
  /* height: 25px;
  width: 50px; */
  background: #FB0201;
  color: white;
  border: 0;
  -webkit-appearance: none;
}

.pr10 {
  padding-right: 10px;
}

.margin-left5 {
  margin-left: 5%;
}

.icon {
  border-right: 1px solid #5F6772;
  background: #FFFFFF;
  color: #000000;
  min-width: 50px;
  font-size: 24px;
  padding-bottom: 17px;
  padding-top: 10.1px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mt20 {
  margin-top: 20px;
}

.border-radius60 {
  border-radius: 60px !important;
}

.w35 {
  width: 35% !important;
}

.m-50 {
  margin-top: -50px;
}

.dir-col {
  align-items: center;
  flex-direction: column;
}

.star {
  right: 0;
  margin-right: 25px;
  font-size: 50px;
}

.star:hover {
  cursor: pointer;
}

.clr-grey {
  color: #646464;
}

.f-left {
  float: left;
}

.d-flex {
  display: flex;
}

.pl100 {
  padding-left: 100px !important;
}