.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadows {
  filter: drop-shadow(5px 6px 3px rgba(50, 50, 0, 0.5));
}

.login {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #ff0000;
}

.login__title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(173, 169, 169);
}

.form-control {
  border-radius: 1.25rem;
}

.alignCenter {
  text-align: center;
}

.signUp {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
